__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/
.vscode/
logs/
logs/**
checkpoints/
checkpoints/**
data/
*.npy
*.npz
.DS_Store
*.log
*.ckpt
/.idea/
/.mypy_cache/
